header.header
    .header__column
        i.fab.fa-youtube
        h1 류튜브에 오신것을 환영합니다!
    .header__column
        ul
            li
                a(href="#") 회원가입
            li
                a(href="#") 로그인
                