extends layouts/main

block content
    form.form__container(action=routes.login, method="POST")
        input(type="email", name="email", placeholder="이메일 입력" )
        input(type="password", name="password", placeholder="비밀번호 입력" )
        input(type="submit", value="로그인")
    include partials/socialLogin