extends layouts/main

block content
    .form-container
        form(action=`/videos${routes.upload}`, method="post", enctype="multipart/form-data")
            .fileUpload
                label(for="file") 영상파일 업로드
                input(type="file", name="videoFile", id="file", required=true, accept="video/*")
            input(type="text", placeholder="제목", name="title", required=true)
            textarea(name="description", placeholder="설명", required=true)
            input(type="submit", value="업로드")